---
import MainLayout from '../../layouts/MainLayout.astro';
import type { Language } from '../../i18n/utils';
import QuienesSomos from '../../components/QuienesSomos.astro';

const lang: Language = 'pt';
---

<MainLayout title="About Us | RGB Corp" lang={lang}>
  <main>
    <QuienesSomos lang={lang} />
  </main>
</MainLayout> 