---
import MainLayout from '../../layouts/MainLayout.astro';
import type { Language } from '../../i18n/utils';
import FirstSection from '../../components/FirstSection/FirstSection.astro';

const lang: Language = 'pt';
---

<MainLayout title="Home | RGB Corp" lang={lang}>
  <FirstSection lang={lang} />
  <main>
    <!-- Aquí va el contenido de tu HomePage -->
  </main>
</MainLayout> 