---
import MainLayout from '../layouts/MainLayout.astro';
import ShadersSlider from '../components/ShadersSlider/ShadersSlider.astro';
---

<MainLayout title="Test Shaders Slider">
  <main>
    <ShadersSlider />
  </main>
</MainLayout> 