---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import './Navbar.css';
import MenuToggle from './MenuToggle.astro';
import NavbarMenu from './NavbarMenu.astro';
import TopBar from './TopBar.astro';

const { lang } = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav class="navbar show">
  <TopBar />
  <div class="navbarContainer">
    <div class="navbarLogo">
      <img src="/img/logo_optimized.png" alt="Logo RGB" />
    </div>
    <MenuToggle menuOpen={false} />
    <NavbarMenu menuOpen={false} />
  </div>
  <div class="bannerTitle">
    <h3>{t('Menu.corp')}</h3>
  </div>
</nav>

<script>
  let lastScrollTop = 0;
  const navbar = document.querySelector('.navbar');
  
  // Script de scroll simplificado
  function handleScroll() {
    const currentScrollTop = window.pageYOffset || document.documentElement.scrollTop;
    
    // Si estamos scrolleando hacia abajo y no estamos en la parte superior
    if (currentScrollTop > lastScrollTop && currentScrollTop > 100) {
      if (navbar) {
        navbar.classList.add('hide');
        navbar.classList.remove('show');
      }
    }
    // Si estamos scrolleando hacia arriba o estamos en la parte superior
    else if (currentScrollTop < lastScrollTop || currentScrollTop <= 100) {
      if (navbar) {
        navbar.classList.remove('hide');
        navbar.classList.add('show');
      }
    }
    
    lastScrollTop = currentScrollTop;
  }
  
  // Agregar el event listener
  window.addEventListener('scroll', handleScroll, { passive: true });
</script> 