---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import type { Language } from '../i18n/utils';
import './ReviewsCarousel.css';

interface Props {
  lang?: Language;
}

interface Review {
  id: number;
  iframeSrc: string;
}

const { lang } = Astro.props;
const currentLang = (lang || getLangFromUrl(Astro.url)) as Language;
const t = useTranslations(currentLang);

// Datos de ejemplo - Reemplazar con datos reales
const reviews: Review[] = [

];

const itemsPerSlide = 3;
const opinionGroups = reviews.reduce((acc, _, index) => 
  index % itemsPerSlide === 0 ? [...acc, reviews.slice(index, index + itemsPerSlide)] : acc, 
[] as Review[][]);
---

<section id="reviews-section" class="opinionesSection" data-aos="fade-up">
  <h2 class="reviews-title" data-aos="fade-up" data-aos-delay="100">{t('Reviews.title')}</h2>
  {opinionGroups.length > 0 ? (
    <div class="carouselContainer" data-aos="fade-up" data-aos-delay="200">
      <div class="opinionesGrid" data-aos="fade-up" data-aos-delay="300">
        {opinionGroups[0].map((rev, index) => (
          <div class="fadeIn" data-id={rev.id} data-aos="fade-up" data-aos-delay={400 + index * 100}>
            <div class="facebook-iframe-card" style="cursor: pointer; width: 100%; max-width: 500px;">
              <iframe
                src={rev.iframeSrc}
                width="100%"
                height="250"
                style="border: none; overflow: hidden;"
                scrolling="no"
                frameborder="0"
                allowfullscreen
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
              ></iframe>
            </div>
          </div>
        ))}
      </div>

      {opinionGroups.length > 1 && (
        <>
          <button class="carouselControlPrev" id="prevButton" data-aos="fade-right" data-aos-delay="500">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="currentColor">
              <path d="M16.293 9.293L12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"/>
            </svg>
          </button>
          <button class="carouselControlNext" id="nextButton" data-aos="fade-left" data-aos-delay="500">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="currentColor">
              <path d="M7.707 14.707L12 10.414l4.293 4.293 1.414-1.414L12 7.586 6.293 13.293z"/>
            </svg>
          </button>
        </>
      )}
    </div>
  ) : (
    <p class="text-center" data-aos="fade-up" data-aos-delay="200">{t('Reviews.defaultMessage')}</p>
  )}
</section>

<script define:vars={{ opinionGroups }}>
  let currentSlide = 0;
  const prevButton = document.getElementById('prevButton');
  const nextButton = document.getElementById('nextButton');
  const opinionesGrid = document.querySelector('.opinionesGrid');

  const updateSlide = (newSlide) => {
    currentSlide = newSlide;
    if (opinionesGrid) {
      opinionesGrid.innerHTML = opinionGroups[currentSlide].map(rev => `
        <div class=\"fadeIn\" data-id=\"${rev.id}\">\n          <div class=\"facebook-iframe-card\" style=\"cursor: pointer; width: 100%; max-width: 500px;\">\n            <iframe\n              src=\"${rev.iframeSrc}\"\n              width=\"100%\"\n              height=\"250\"\n              style=\"border: none; overflow: hidden;\"\n              scrolling=\"no\"\n              frameborder=\"0\"\n              allowfullscreen\n              allow=\"autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share\"\n            ></iframe>\n          </div>\n        </div>\n      `).join('');
    }
  };

  prevButton?.addEventListener('click', () => {
    const newSlide = (currentSlide - 1 + opinionGroups.length) % opinionGroups.length;
    updateSlide(newSlide);
  });

  nextButton?.addEventListener('click', () => {
    const newSlide = (currentSlide + 1) % opinionGroups.length;
    updateSlide(newSlide);
  });
</script>

<style>
  @import './ReviewsCarousel.css';
</style>